@model APIApplication.Models.Activity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                <input asp-for="ActivityId" class="form-control" />
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityUserId" class="control-label"></label>
                <!-- Use ViewData instead of ViewBag -->
                @Html.DropDownListFor(model => model.ActivityUserId, ViewData["UsersSelectList"] as SelectList, "Select User", new { @class = "form-control" })
                <span asp-validation-for="ActivityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityType" class="control-label"></label>
                <input asp-for="ActivityType" class="form-control" />
                <span asp-validation-for="ActivityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDate" class="control-label"></label>
                <input asp-for="ActivityDate" class="form-control" />
                <span asp-validation-for="ActivityDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class ="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
